
/.vs
/GlobalTurnIn/obj
/GlobalTurnIn/obj
/GlobalTurnIn/obj
/GlobalTurnIn/obj
/GlobalTurnIn/obj
/GlobalTurnIn/obj
GlobalTurnIn/obj/GlobalTurnIn.csproj.nuget.dgspec.json
GlobalTurnIn/obj/project.assets.json
GlobalTurnIn/obj/project.nuget.cache
GlobalTurnIn/obj/x64/Debug/GlobalTurnIn.AssemblyInfo.cs
GlobalTurnIn/obj/x64/Debug/GlobalTurnIn.AssemblyInfoInputs.cache
