[submodule "AutoRetainerAPI"]
	path = AutoRetainerAPI
	url = https://github.com/PunishXIV/AutoRetainerAPI.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "ffxiv_pictomancy"]
	path = ffxiv_pictomancy
	url = https://github.com/sourpuh/ffxiv_pictomancy
